.job-box {
  padding: 25px;
  min-width: 255px;
  min-height: 230px;
  background-color: white;
  border: 1px solid #e7edf2;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

.get-hired {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C63FF;
  transition: opacity 0.1s ease-in;
  font-weight: 600;
}

.rectangle {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 14px;
  line-height: 21px;
}

.get-hired:hover {
  opacity: 0.9;
  transition: opacity 0.1s ease-in;
}

.title {
  color: #30343b;
  font-weight: 500;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.desc {
  font-size: 14px;
  line-height: 20px;
  color: #87909E;
  margin-top: 10px;
}

.location, .location-icon {
  font-size: 14px;
  color: #87909E;
}

.location-icon {
  margin-right: 5px
}

@media screen and (max-width: 818px) {
  .job-box {
    padding: 20px;
    min-height: 148px;
    min-width: 342px;
    flex: 1
  }

  .get-hired {
    opacity: 1;
    height: 26px;
    border-radius: 5px;
    width: 66px;
    bottom: 26px;
    right: 30px;
    left: auto;
    top: auto;
  }

  .rectangle {
    font-size: 9.6px;
    line-height: 14.4px;
    border: none;
    padding: 0;
  }

  .location, .location-icon, .desc {
    font-size: 11.2px;
    line-height: 16px;
  }

  .title {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (max-width: 380px) {
  .job-box {
    width: 90vw;
    flex: none;
    min-width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}